<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>{{ user.aboutUs }}</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 content">
                <h2>Frontend/Backend Developer &amp; Web Developer.</h2>
                <p class="fst-italic py-3">
                    {{ user.dedication }}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ user.dob }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>{{ user.website }}/</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ user.phoneNo }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ user.city }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ user.age }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ user.education }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>{{ user.email }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{ user.freelance }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="py-3">
                    I am committed to delivering reliable and efficient solutions by combining technical expertise with attention to detail. 
                    I believe in creating applications that are both functional and user-friendly, ensuring a seamless experience from start to finish.
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->