<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Full Stack Developer | Expert in End-to-End Web Application Development</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Vikas Singh</h4>
                    <p><em>Innovative and deadline-driven Full Stack Web Developer with 3+ years of experience building scalable, user-centric web applications, specializing in Angular, Node.js, and NestJS—from initial concept to final deployment.</em></p>
                    <ul>
                        <li>{{ userInfo.address }}</li>
                        <li>{{ userInfo.phoneNo }}</li>
                        <li>{{ userInfo.email }}</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>{{ userInfo.education.diploma.name }}</h4>
                    <h5>{{ userInfo.education.diploma.duration }}</h5>
                    <p><em>{{ userInfo.education.diploma.place }}</em></p>
                    <p>{{ userInfo.education.diploma.description }}</p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>{{ userInfo.education.graduation.name }}</h4>
                    <h5>{{ userInfo.education.graduation.duration }}</h5>
                    <p><em>{{ userInfo.education.graduation.place }}</em></p>
                    <p>{{ userInfo.education.graduation.description }}</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>{{ userInfo.professional_exp.job.name }}</h4>
                    <h5>{{ userInfo.professional_exp.job.duration }}</h5>
                    <p><em>{{ userInfo.professional_exp.job.place }}</em></p>
                    <ul>
                        <li *ngFor="let item of userInfo.professional_exp.job.description">
                            {{ item.text }}
                        </li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>{{ userInfo.professional_exp.apprenticeship.name }}</h4>
                    <h5>{{ userInfo.professional_exp.apprenticeship.duration }}</h5>
                    <p><em>{{ userInfo.professional_exp.apprenticeship.place }}</em></p>
                    <ul>
                        <li *ngFor="let item of userInfo.professional_exp.apprenticeship.description">
                            {{ item.text }}
                        </li>
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->